<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="/css/fontawesome-all.css">
 </head> 
  <body>
<div class="container">
  <% include ./partials/nav %>
  <p></p>

  <%  let blog = {}; %>
  <% if (blogs.length == 0) { %>
  <h4> No blogs to display. Click <a href="/add">here</a> to add one.</h4>
  <%} else {%>
  <% for(let i = 0; i < blogs.length; i++) {
			blog = blogs[i] %>
     <% include ./partials/blogCard %>
     <% } %>
             <% } %>

	     <div class="panel panel-default">
   <p></p>
        </div>
</div>

</div> <!-- container -->
 </body>
<script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
